<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @employer.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @employer.email %>
</p>

<p>
  <strong>Date of birth:</strong>
  <%= @employer.date_of_birth %>
</p>

<p>
  <strong>Gender:</strong>
  <%= @employer.gender %>
</p>

<p>
  <strong>Location:</strong>
  <%= @employer.location %>
</p>

<p>
  <strong>Phone number:</strong>
  <%= @employer.phone_number %>
</p>
<p>
  <strong>State:</strong>
  <%= @employer.state %>
</p>
<%= link_to 'Resend Confirmation Email', resend_email_employer_path(@employer) unless @employer.email_confirmed%>
<%= link_to 'Verify Phone', phone_verification_employer_path(@employer) unless @employer.phone_confirmed%>
<%= link_to 'Edit', edit_employer_path(@employer) %> |
<%= link_to 'Back', employers_path %>
